<ion-content [fullscreen]="true">
  <ng-container *ngIf="groupedMovies$ | async as groupedMovies; else loadingSkeleton">
    <ion-toolbar>
      <ion-searchbar ngDefaultControl [(ngModel)]="searchTerm" placeholder="Search movies"></ion-searchbar>
    </ion-toolbar>
    <div *ngFor="let group of groupedMovies" class="category-section">
      <h2 class="category-title" *ngIf="group.movies">{{ group.category }}</h2>

      <swiper-container
        #swiperContainer
        slides-per-view="3"
        space-between="10"
        loop
        autoplay>
        <ng-container *ngFor="let movie of group.movies | search: searchTerm">
          <swiper-slide>
            <ion-card (click)="onMovieClick(movie)" class="movie-card">
              <img [src]="movie.image" [alt]="movie.title" class="movie-image" loading="lazy" />
              <ion-card-header>
                <ion-card-title class="movie-title">{{ movie.title }}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
  </ng-container>

  <ng-template #loadingSkeleton>
    <div class="skeleton-container">
      <ion-toolbar>
        <ion-skeleton-text [animated]="true" class="skeleton-title"></ion-skeleton-text>
      </ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="3" *ngFor="let skeleton of [1, 2, 3, 4, 5, 6]">
            <ion-card class="skeleton-card">
              <ion-skeleton-text [animated]="true" style="width: 100%; height: 150px;"></ion-skeleton-text>
              <ion-card-header>
                <ion-card-title>
                  <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
</ion-content>
