.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.profile-container {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-message {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.logout-button {
  margin-top: auto;
}

@media (max-width: 768px) {
  .welcome-message {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .welcome-message {
    font-size: 1.5rem;
  }
}
