.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  ion-button {
    margin-top: 20px;
  }

  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  @media (min-width: 768px) {
    max-width: 600px;
  }

  @media (min-width: 1024px) {
    max-width: 700px;
    padding: 40px;
  }
}
