<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/media-navigation/home">
      <ion-icon aria-hidden="true"  name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favorites" href="/media-navigation/favorites">
      <ion-icon aria-hidden="true"  name="heart-circle-outline"></ion-icon>
      <ion-label>Your Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watch_later" href="/media-navigation/watch_later">
      <ion-icon aria-hidden="true" name="pause-circle-outline"></ion-icon>
      <ion-label>Watch Later</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/media-navigation/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
